/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Fonts */
  body {
    font-family: sans-serif;
    background-color: #ffffff;
  }
  
  header {
	background-color: #333;
  /* background-image: url("pxfuel.jpg"); */
	color: #fff;
	padding: 20px;
  }
  
  /* Navbar */
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 1rem;
    background-color: #333;
    box-shadow: 0 2px 4px rgb(255, 255, 255);
  }
  
  nav h1 {
    font-size: 2rem;
    font-weight: bold;
  }
  
  nav ul {
    display: flex;
    list-style-type: none;
  }
  
  nav li {
    display: inline-block;
	margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.2s;
  }
  
  nav a:hover {
    color: #ffc107;
  }
  
  /* Listings */
  section {
    padding: 2rem;
  }
  
  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .listing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-bottom: 2rem;
    background-color: rgba(99, 99, 99, 0.5);
    border: 1px solid #eee;
    border-radius: 0.5rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  }
  
  .listing img {
    max-width: 100%;
    margin-bottom: 1rem;
  }
  
  .listing h3 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .listing p {
    margin-bottom: 1rem;
  }
  
  .listing button {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s;
  }
  
  .listing button:hover {
    background-color: #0062cc;
  }
  
  .listing.small {
    flex-basis: 33.33%;
    margin-right: 2%;
    margin-left: 2%;
  }

  input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Footer */
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #eee;
    color: #444;
    font-size: 0.75rem;
  }
  